@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src:
    local('Inter'),
    url(./fonts/Inter/Inter.ttf) format('truetype'),
    url(./fonts/Inter/Inter-Regular.ttf) format('truetype'),
    url(./fonts/Inter/Inter-Regular.otf) format('otf'),
    url(./fonts/Inter/Inter-Regular.woff2) format('woff2'),
    url(./fonts/Inter/Inter-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Inter-Bold';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src:
    local('Inter'),
    url(./fonts/Inter/Inter-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src:
    local('Inter'),
    url(./fonts/Inter/Inter-SemiBold.ttf) format('truetype');
}

html,
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
}

/* Scroll */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #F6CB09;
}

::-webkit-scrollbar-thumb {
  background: #3C5BA6;
}

::-webkit-scrollbar-thumb:hover {
  background: #3C5BA6;
}
/* Scroll... */

a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}