.root {
  transition: all 0.25s ease-in-out;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  width: fit-content;
  font-display: block;
}

.children-position-right {
  flex-direction: row;
  align-items: center;
}

.children-position-left {
  flex-direction: row-reverse;
  align-items: center;
}

.children-position-top {
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.children-position-bottom {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.font-Inter {
  font-family: Inter;
  font-display: block;
}

.variant-h1 {
  font-family: Inter-Bold;
  font-size: 3em;
}

.variant-h2 {
  font-family: Inter-Bold;
  font-size: 4em;
}

.variant-h3 {
  font-family: Inter-Bold;
  font-size: 5em;
}

.variant-body {
  font-family: Inter;
  font-size: 2em;
}

.variant-bold {
  font-family: Inter-SemiBold;
  font-size: 2.1em;
}

.variant-a {
  composes: variant-bold;
  text-decoration: underline;
  cursor: pointer;
}

.html {
  font-family: Inter;
  color: #222222;
}

.html > p {
  font-family: Inter;
  font-size: 15px;
  line-height: 22px;
}

.color-white {
  color: #ffffff
}

.color-black {
  color: #000000
}

.color-dark {
  color: #222222
}

.color-gray {
  color: #888888
}

.color-light {
  color: #cccccc
}

.color-blue {
  color: #3C5BA6
}

.color-yellow {
  color: #F6CB09
}

.color-error {
  color: #FF8787
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .variant-h1 {
    width: 100%;
    font-size: 30px;
    line-height: 30px;
  }
}