.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.left {
  width: 48%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70vh;
}

.image > img {
  width: 70%
}

.sprites {
  width: 100%;
  height: 16vh;
  border: 1px solid #3C5BA6;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: auto;
  white-space: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.sprites > img {
  border: 1px solid #3C5BA6;
  border-radius: 5px;
}

.right {
  width: 48%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  width: 45%;
  margin: 20px 0;
  height: auto;
}

.blockList {
  border: 1px solid #3C5BA6;
  border-radius: 5px;
  width: 96%;
  padding: 0 2%;
  max-height: 300px;
  overflow-x: auto;
  white-space: nowrap;
}