.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.25s ease-in-out;
  min-height: 80vh;
  width: 100%;
  max-width: 100%;
}

.main {
  width: 100%;
  min-height: 80vh;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .main {
    margin-top: 20px;
  }
}