.root {
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  max-width: 100%;
}

.text {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}

.variant-normal {
  width: 400px;
  height: 54px;
  background: #3C5BA6;
  border-radius: 6px;
  border: 1px solid transparent;
}
.variant-normal:hover {
  background-color: #333333;
}
.variant-small {
  width: 310px;
  height: 54px;
  background: #ffffff;
  border: 1px solid #3C5BA6;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid transparent;
}
.variant-small:hover {
  background: #3C5BA6;
}
.state-disabled {
  background: #fff;
  border: none;
  cursor: default;
}
.state-disabled:hover {
  background: #fff;
  border: 1px solid #cccccc;
  cursor: default;
}
.variant-small-state-active {
  background: #ffffff;
  border: 1px solid #3C5BA6;
  box-sizing: border-box;
  border-radius: 6px;
}
.variant-small-state-active:hover {
  background: #3C5BA6;
  border: 1px solid #3C5BA6;
}
.variant-normal-state-selected {
  border: 1px solid #cccccc;
  background: #888888;
}
.variant-small-state-selected {
  background: #cccccc;
}

/* Text classes */
.variant-small-state-active .text-color-white {
  color: #3C5BA6;
}
.variant-small-state-active:hover .text-color-white {
  color: #ffffff
}
.variant-small-state-selected .text-color-white {
  color: #3C5BA6;
}
.variant-small-state-selected:hover .text-color-white {
  color: #ffffff;
}
.variant-normal-state-disabled .text-color-white {
  color: #cccccc;
}
.variant-small-state-disabled .text-color-white {
  color: #cccccc;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .variant-normal {
    width: 335px;
    height: 53px;
  }

  .variant-small {
    width: 335px;
    height: 53px;
  }

}
