.root {
  pointer-events: bounding-box;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.70);
  justify-content: center;
  align-items: center;
  cursor: default;
  z-index: 1;
}

.content {
  width: 75%;
  height: 75vh;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #3C5BA6;
  border-radius: 10px;
  background-color: #F6CB09;
}

.evolves {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}