.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  height: 10vh;
  background-color: #F6CB09;
  border-top: 1px solid #3C5BA6;
}

/* Tablet Portrait */
@media only screen and (min-device-width : 769px) and (max-device-width : 1024px) and (orientation : portrait) {
  
  .root {
    width: calc(100% - 40px);
  }

}

/* Tablet Landscape */
@media only screen and (min-device-width : 769px) and (max-device-width : 1024px) and (orientation : landscape) {
  
  .root {
    width: calc(100% - 40px);
  }

}

/* Mobile */
@media only screen and (max-width: 768px) {
  .root {
    width: calc(100% - 40px);
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100px !important;
  }
}