@keyframes Rotation {
  0% {
    transform: rotate(0deg);
    opacity: 1
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.5
  }
  100% {
    transform: rotate(360deg);
    opacity: 1
  }
}

@keyframes Ease {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

.root {
  pointer-events: bounding-box;
  top: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  cursor: wait;
}

.root-simple {
  background-color: rgb(255, 255, 255);
  animation-name: Ease;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.loading-simple {
  opacity: 1;
}

.root-circle {
  background-color: rgba(0, 0, 0, 0.9);
}

.loading-circle {
  border: 2.5em solid #888888;
  border-radius: 50%;
  border-top: 2.5em solid rgba(0, 0, 0, 0.1);
  width: 10em;
  height: 10em;
  animation-name: Rotation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 0.75s;
}

.root-hidden {
  opacity: 1;
}

.loading-hidden {
  opacity: 1;
}
