.root {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  pointer-events: painted;
  border-radius: 10px;
  position: fixed;
  bottom: 10px;
  padding: 2px;
}

.background {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  /* The image used */
  background-color: chartreuse;
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.message {
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}