.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #FFF;
}

.e404Box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: auto;
  box-sizing: border-box;
}

.e404Box > div {
  margin-right: 20px;
}