.root {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  border-radius: 12px;
  overflow: hidden;
  width: 220px;
  height: auto;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.image {
  width: 190px;
  min-height: 190px;
  background: no-repeat center center;
  background-size: cover;
}

.info {
  height: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .root {
    width: 335px;
  }

  .image {
    max-height: 218px;
  }

  .info {
    height: 100px;
  }
}