.root {
  pointer-events: painted;
  border-radius: 10px;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  z-index: 1;
}

.root-type-error {
  top: 10px;
  color: #FF8787
}

.root-type-success {
  top: 10px;
}

.message {
  width: 380px;
  height: auto;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.messageColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 82px;
}

/* Text classes */
.title {
  margin-bottom: 4px;
  text-transform: capitalize;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .root {
    width: calc(100% - 20px);
  }

  .message {
    width: 100%
  }

  .root-type-success {
    top: unset;
    bottom: 10px;
  }
}