.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #F6CB09;
  border-bottom: 1px solid #3C5BA6;
}

.logo {
  position: absolute;
}

.logo > img {
  height: 9vh;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 10vh;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 10vh;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 10vh;
}

.right > div {
  margin: 0 10px;
}


@media only screen and (max-width: 768px) {
  
}