.root {
  width: 100%;
  height: 1px;
}

.normal {
  margin: 20px 0;
  background: #EEEEEE;
}

.withoutMargins {
  margin: 0;
  background: #EEEEEE;
}

.withoutTopMargin {
  margin-bottom: 20px;
  background: #EEEEEE;
}

.withoutBottomMargin {
  margin-top: 20px;
  background: #EEEEEE;
}

.hidden {
  margin: 0;
  background: rgba(255, 255, 255, 0);
}
